.km-calendar:after,
.km-calendar:before
{
    content: "\e089";
}
.last-updated
{
    font-size: 0.8em;
    padding: 2px 4px;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.06);
}
.div-table
{
    display: flex;
}
.col-name
{
    flex: 1;
    text-overflow: ellipsis;
	overflow-x: hidden;
    white-space: nowrap;
}
.col-name img
{
    border-radius: 16px;
    height: 26px;
    width: 26px;
    vertical-align: middle;    
}